.contact-form3-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.contact-form3-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form3-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 0px;
}
.contact-form3-text {
  fill: var(--dl-color-brand-white);
  color: var(--dl-color-brand-white);
  font-family: "Poppins";
}
.contact-form3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form3-text1 {
  fill: var(--dl-color-brand-white);
  color: var(--dl-color-brand-white);
  font-size: 40px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 800;
}
.contact-form3-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form3-text2 {
  fill: var(--dl-color-brand-white);
  color: var(--dl-color-brand-white);
  font-family: "Poppins";
}
.contact-form3-text-input {
  fill: var(--dl-color-brand-black);
  color: var(--dl-color-brand-black);
  width: 459px;
  height: 50px;
  font-family: "Poppins";
  background-color: var(--dl-color-brand-white);
}
.contact-form3-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form3-text3 {
  fill: var(--dl-color-brand-white);
  color: var(--dl-color-brand-white);
  font-family: "Poppins";
}
.contact-form3-text-input1 {
  fill: var(--dl-color-brand-black);
  color: var(--dl-color-brand-black);
  width: 454px;
  height: 50px;
  font-family: "Poppins";
  background-color: var(--dl-color-brand-white);
}
.contact-form3-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.contact-form3-text4 {
  fill: var(--dl-color-brand-white);
  color: var(--dl-color-brand-white);
  font-family: "Poppins";
}
.contact-form3-textarea {
  fill: var(--dl-color-brand-black);
  color: var(--dl-color-brand-black);
  width: 1332px;
  height: 100px;
  font-family: "Poppins";
  background-color: var(--dl-color-brand-white);
}
.contact-form3-button {
  fill: var(--dl-color-brand-black);
  color: var(--dl-color-brand-black);
  width: 147px;
  height: 52px;
  align-self: flex-start;
  font-family: "Poppins";
  border-width: 0px;
  background-color: var(--dl-color-brand-primary);
}
.contact-form3-action1 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
@media(max-width: 991px) {
  .contact-form3-max-width {
    flex-direction: column;
  }
  .contact-form3-content {
    width: 100%;
  }
}
